# Scraping Data from a Real Website + Pandas

In [138]:
from bs4 import BeautifulSoup as bs
import requests

In [139]:
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"

headers = {
    "User-Agent": "KenManaloScraper/1.0 (https://github.com/kenmanalo)"
}

page = requests.get(url, headers = headers)

soup = bs(page.text, 'html')

In [140]:
table = soup.find('table', class_ = "wikitable sortable")

In [141]:
headers = table.find_all('th')
rows = table.find_all('tr')

In [142]:
columns = [header.text.strip() for header in headers]

print(columns)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [143]:
data = []

for row in rows[1:]:
    row_data = row.find_all('td')
    data.append([data.text.strip() for data in row_data])

In [144]:
import pandas as pd

In [145]:
df = pd.DataFrame(data, columns=columns)

In [146]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"680,985",5.1%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"637,959",11.0%,"1,556,000","Seattle, Washington"
2,3,UnitedHealth Group,Healthcare,"400,278",7.7%,"400,000","Minnetonka, Minnesota"
3,4,Apple,Technology,"391,035",2.0%,"164,000","Cupertino, California"
4,5,CVS Health,Healthcare,"372,809",4.2%,"259,500","Woonsocket, Rhode Island"
...,...,...,...,...,...,...,...
95,96,General Dynamics,Aerospace and defense,"47,716",12.9%,"117,000","Reston, Virginia"
96,97,Coca-Cola,Beverage,"47,061",2.9%,"69,700","Atlanta, Georgia"
97,98,TIAA,Financials,"46,946",2.6%,"15,623","New York City, New York"
98,99,Travelers,Insurance,"46,423",12.2%,"34,000","New York City, New York"
99,100,Eli Lilly,Pharmaceutical industry,"45,043",32.0%,"47,000","Indianapolis, Indiana"

In [150]:
df.to_csv(r'C:\Users\knmnl\Documents\Git repository\PythonYouTubeSeries-main\top_us_campanies.csv', index = False)